<!DOCTYPE html>
<html>
<head>
	<title>Nayak's Blog</title>
	<link rel='stylesheet' href='/css/style.css'/>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class='container'>
		<!-- header -->
		<div class='header'>
			<ul class='nav nav-pills pull-right'>
				<li>
					<a href='/'>홈</a>
				</li>
				<li>
					<a href='/board/list'>글</a>
				</li>
				<% if(auth_id){ %>
				<li>
					<a href='/board/write'>글작성</a>
				</li>
				<% } %>
				<li>
					<a href='#'>작업</a>
				</li>
				<li>
					<a href='/profile'>소개</a>
				</li>
				<% if(auth_id){ %>
				<li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">추가</a>
						<div class="dropdown-menu" style="padding: 17px; margin: 10px;">
							<p align="center">권한 등록</p>
							<form class="form" id="addform" method="post" action="/member/join">
								아이디<br>
								<input name="id" id="id" type="text" class="form-control">
								비밀번호<br>
								<input name="password" id="password" type="password" class="form-control">
								<br>
								<button class="btn btn-default" id="btnAdd" type="button">추가</button>
							</form>
						</div>
					</li>
				</li>
				<% }else{ %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">인증</a>
					<div class="dropdown-menu" style="padding: 17px; margin: 10px;">
						<form class="form" id="loginform" method="post" action="/member/login">
							아이디<br>
							<input name="id" id="id" type="text" class="form-control">
							비밀번호<br>
							<input name="password" id="password" type="password" class="form-control">
							<br>
							<button class="btn btn-default" id="btnLogin" type="button">인증</button>
						</form>
					</div>
				</li>
				<% } %>
			</ul>
			<h3 class='logo'><strong>Nayak's Blog</strong></h3>
		</div>
		<hr>

		<!-- introduce -->
		<div class='about-me'>
			<div class='row'>
				<div class='col-md-3 col-lg-3 col-xs-4'>
					<img class='img-rounded img-responsive pull-right' src='/img/mongoose.jpg' style='width:128px; height: auto;'>
				</div>
				<div class='col-md-9 col-lg-9 col-xs-8'>
					<p><a href="http://blog.naver.com/kingwjdduq">Nayak</a>이는 누구나 들으면 '아~' 하는 유명한 개발자가 꿈 입니다.<br>주절 주절 주절<br><br>
					</p>
					<p>HTML, CSS, javascript, jQuery, Node.js, php를 참 좋아합니다.
						<br>MongoDB와 Angular.js를 잘하고 싶습니다.
					</p>
				</div>
			</div>
		</div>

		<!-- list -->
		<div class='mainList'>
			<% for(len=docs.length, i=(len-1); item=docs[i], i>=(len-5); i--){ %>
			<a href="/board/read/<%=item.num%>"><%=item.title%></a> &nbsp
			<span class="mainListDate"><%=item.myregdate%></span>
			<hr>
			<pre><%-item.content%></pre>
			<% }//for %>
		</div>

		<!-- footer -->
		<hr>
		<footer>
			<div class='pull-right'>
				&copy; 2015-진행중
				<a href="http://blog.naver.com/kingwjdduq">@Nayak</a>
			</div>
		</footer>
	</div>

	<!-- Script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#btnLogin').click(function(){
				$('#loginform').submit();
			});
			$('#btnAdd').click(function(){
				var id = $('#id').val();
				var password = $('#password').val();
				if(id==""){
					alert("아이디 확인");
					$('#id').focus();
					return;
				}
				if(password==""){
					alert("비밀번호 확인");
					$('#password').focus();
					return;
				}

				var check = confirm(id+'의 권한을 추가하시겠습니까?');
				if(check){
					alert(id+"가 '등록'되었습니다.");
					addform.submit();
				}else{
					alert("'취소'하였습니다.");
					addform.reset();	
				}
			});
		});
	</script>
</body>
</html>
