<!DOCTYPE html>
<html>
  <head>
    <title>깡미와 정여비</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= jeong %></h1>
    <hr>
    <h1><%= kang %></h1>
  </body>
</html>
